// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#tasks {
  padding-left: 0;
  list-style-type: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(223, 219, 219, 0.336);
  border-radius: 5px;
  padding: 24px 16px;
}